force-app/main/default/flows/SFFR_Process_Aggregate_Payment_Group.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <constants>
        <name>conMaximumItem</name>
        <dataType>Number</dataType>
    </constants>
    <decisions>
        <name>check_Analyse_Payment_Record</name>
        <label>check - Analyse Payment Record</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>No Handled Yet</defaultConnectorLabel>
        <rules>
            <name>No_Payment_To_Process</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Payment_Method_To_Process</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>No Payment To Process</label>
        </rules>
        <rules>
            <name>Internal_Grouping</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Payment_Method_To_Process</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Payment_Method_To_Process.SFFR_Bank_Group_Automated__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>process_Internal_Grouping</targetReference>
            </connector>
            <label>Internal Grouping</label>
        </rules>
        <rules>
            <name>External_Grouping</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Payment_Method_To_Process</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Payment_Method_To_Process.SFFR_Bank_Group__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Payment_Method_To_Process.SFFR_Bank_Group_Automated__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>process_External_Grouping</targetReference>
            </connector>
            <label>External Grouping</label>
        </rules>
        <rules>
            <name>No_Grouping_Needed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Payment_Method_To_Process</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Payment_Method_To_Process.SFFR_Bank_Group_Automated__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Payment_Method_To_Process.SFFR_Bank_Group__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>process_No_Grouping_Needed</targetReference>
            </connector>
            <label>No Grouping Needed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>forToday</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>SFFR {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SFFR Process - Aggregate Payment Group</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Payment_Method_To_Process</name>
        <label>Get Payment Method To Process</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_Analyse_Payment_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRTPayment_Payment</elementReference>
            </value>
        </filters>
        <filters>
            <field>SFFR_Bank_Payment_Group__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SFFR_Bank_Payment_Group_Automation__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>cpm__Payment__c</object>
        <sortField>cpm__Collection_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getRTPayment_Payment</name>
        <label>getRTPayment_Payment</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getRTPaymentGroup_Bank</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SFFR_Payment</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>cpm__Payment__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varRTPayment_Payment</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getRTPaymentGroup_Bank</name>
        <label>getRTPaymentGroup_Bank</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Payment_Method_To_Process</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SFFR_Bank</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SFFR_Payment_Group__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varRTPaymentGroup_Bank</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>process_No_Grouping_Needed</name>
        <label>process - No Grouping Needed</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Pause</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRTPayment_Payment</elementReference>
            </value>
        </filters>
        <filters>
            <field>SFFR_Bank_Payment_Group__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SFFR_Bank_Payment_Group_Automation__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SFFR_Bank_Group__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SFFR_Bank_Group_Automated__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>SFFR_Bank_Payment_Group_Automation__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>cpm__Payment__c</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getRTPayment_Payment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>process_External_Grouping</name>
        <label>process - External Grouping</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Pause</targetReference>
        </connector>
        <flowName>SFFR_Process_Sub_AGP_External_Grouping</flowName>
        <inputAssignments>
            <name>varBankGroup</name>
            <value>
                <elementReference>Get_Payment_Method_To_Process.SFFR_Bank_Group__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRTPayment_Payment</name>
            <value>
                <elementReference>varRTPayment_Payment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRTPaymentGroup_Bank</name>
            <value>
                <elementReference>varRTPaymentGroup_Bank</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>process_Internal_Grouping</name>
        <label>process - Internal Grouping</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Pause</targetReference>
        </connector>
        <flowName>SFFR_Process_Sub_AGP_Internal_Grouping</flowName>
        <inputAssignments>
            <name>varBankGroup</name>
            <value>
                <elementReference>Get_Payment_Method_To_Process.SFFR_Bank_Group__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varCollectionDate</name>
            <value>
                <elementReference>Get_Payment_Method_To_Process.cpm__Collection_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varPaymentMethod</name>
            <value>
                <elementReference>Get_Payment_Method_To_Process.cpm__Payment_Method__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRTPayment_Payment</name>
            <value>
                <elementReference>varRTPayment_Payment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRTPaymentGroup_Bank</name>
            <value>
                <elementReference>varRTPaymentGroup_Bank</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>varBypassAutomation</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varCreationDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>forToday</elementReference>
        </value>
    </variables>
    <variables>
        <name>varExternalKey</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varExternalKey2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varInitialSum1</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varInitialSum2</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varInternalKey</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varMaxSum1</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varPayment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>cpm__Payment__c</objectType>
    </variables>
    <variables>
        <name>varPaymentGroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRTPayment_Payment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRTPaymentGroup_Bank</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <waits>
        <name>Pause</name>
        <label>Pause</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Payment_Method_To_Process</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>Now</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Get_Payment_Method_To_Process</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>Now</label>
        </waitEvents>
    </waits>
</Flow>
