force-app/main/default/flows/SFFR_Process_Payment_Group.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>addAmounttoBatchTotal</name>
        <label>assignIncrement</label>
        <locationX>182</locationX>
        <locationY>854</locationY>
        <assignmentItems>
            <assignToReference>varPaymentGroup.SFFR_Banked_Total__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Installment.cpm__Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPaymentGroup.SFFR_Number_Payment__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkReachMaximum</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignClose</name>
        <label>assignClose</label>
        <locationX>50</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>varPaymentGroup.SFFR_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updPaymentGroup</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setDefaultMaximunPayment</name>
        <label>setDefaultMaximunPayment</label>
        <locationX>842</locationX>
        <locationY>1334</locationY>
        <assignmentItems>
            <assignToReference>varMaximumPayment</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>200.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createPaymentRecord</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>checkBankGroupProvided</name>
        <label>checkBankGroupProvided</label>
        <locationX>402</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>getPaymentGroupfromMethod</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NoBankGroupProvided</defaultConnectorLabel>
        <rules>
            <name>BankGroupProvided</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Installment.SFFR_Bank_Group__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getBankGroupfromExternalReference</targetReference>
            </connector>
            <label>BankGroupProvided</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkInstallment</name>
        <label>checkInstallment</label>
        <locationX>754</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Stop</defaultConnectorLabel>
        <rules>
            <name>Continue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Installment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getRTPaymentGroup_Bank</targetReference>
            </connector>
            <label>Continue</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkMaxPayment_Default</name>
        <label>checkMaxPayment_Default</label>
        <locationX>754</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>setDefaultMaximunPayment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>DefaultNotFound</defaultConnectorLabel>
        <rules>
            <name>DefaultFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varMaximumPayment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createPaymentRecord</targetReference>
            </connector>
            <label>DefaultFound</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkMaxPayment_Method</name>
        <label>checkMaxPayment_Method</label>
        <locationX>622</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>getMaxPayment_Default</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>MethodNotFound</defaultConnectorLabel>
        <rules>
            <name>MethodNotFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varMaximumPayment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createPaymentRecord</targetReference>
            </connector>
            <label>MethodFound</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkOpenPaymentGroupFound</name>
        <label>checkOpenPaymentGroupFound</label>
        <locationX>402</locationX>
        <locationY>734</locationY>
        <defaultConnector>
            <targetReference>getMaxPayment_Method</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NoPaymentGroupFound</defaultConnectorLabel>
        <rules>
            <name>PaymentGroupFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPaymentGroup</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addAmounttoBatchTotal</targetReference>
            </connector>
            <label>PaymentGroupFound</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkReachMaximum</name>
        <label>checkReachMaximum</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>updPaymentGroup</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Reached</defaultConnectorLabel>
        <rules>
            <name>ReachMaximum</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPaymentGroup.SFFR_Number_Payment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varPaymentGroup.SFFR_Max_Payment__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignClose</targetReference>
            </connector>
            <label>ReachMaximum</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>frmPaymentGroupName</name>
        <dataType>String</dataType>
        <expression>&quot;Lot &quot;&amp;TEXT({!Installment.cpm__Payment_Method__c})&amp;&quot; du &quot;&amp;TEXT({!$Flow.CurrentDateTime})&amp;IF({!Installment.SFFR_Bank_Group__c} = &quot;&quot;, &quot;&quot;, &quot; ext. n°:&quot;&amp;{!Installment.SFFR_Bank_Group__c})</expression>
    </formulas>
    <interviewLabel>SFFR Process Payment Group {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SFFR Process Payment Group</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>createPaymentRecord</name>
        <label>createPaymentRecord</label>
        <locationX>622</locationX>
        <locationY>1646</locationY>
        <assignRecordIdToReference>varPaymentGroup.Id</assignRecordIdToReference>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>frmPaymentGroupName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varRTPaymentGroup_Bank</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFFR_Banked_Total__c</field>
            <value>
                <elementReference>Installment.cpm__Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFFR_External_Reference__c</field>
            <value>
                <elementReference>Installment.SFFR_Bank_Group__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFFR_Max_Payment__c</field>
            <value>
                <elementReference>varMaximumPayment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFFR_Number_Payment__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFFR_Payment_Method__c</field>
            <value>
                <elementReference>Installment.cpm__Payment_Method__c</elementReference>
            </value>
        </inputAssignments>
        <object>SFFR_Payment_Group__c</object>
    </recordCreates>
    <recordLookups>
        <name>getBankGroupfromExternalReference</name>
        <label>getBankGroupfromExternalReference</label>
        <locationX>270</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkOpenPaymentGroupFound</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRTPaymentGroup_Bank</elementReference>
            </value>
        </filters>
        <filters>
            <field>SFFR_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <filters>
            <field>SFFR_External_Reference__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Installment.SFFR_Bank_Group__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SFFR_Payment_Method__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Installment.cpm__Payment_Method__c</elementReference>
            </value>
        </filters>
        <object>SFFR_Payment_Group__c</object>
        <outputReference>varPaymentGroup</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>SFFR_External_Reference__c</queriedFields>
        <queriedFields>SFFR_Banked_Total__c</queriedFields>
        <queriedFields>SFFR_Number_Payment__c</queriedFields>
        <queriedFields>SFFR_Max_Payment__c</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>getMaxPayment_Default</name>
        <label>getMaxPayment_Default</label>
        <locationX>754</locationX>
        <locationY>1094</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkMaxPayment_Default</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Default</stringValue>
            </value>
        </filters>
        <object>SFFR_Payment_Group_Setting__mdt</object>
        <outputAssignments>
            <assignToReference>varMaximumPayment</assignToReference>
            <field>SFFR_Max_Payment__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getMaxPayment_Method</name>
        <label>getMaxPayment_Method</label>
        <locationX>622</locationX>
        <locationY>854</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkMaxPayment_Method</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Installment.cpm__Payment_Method__c</elementReference>
            </value>
        </filters>
        <object>SFFR_Payment_Group_Setting__mdt</object>
        <outputAssignments>
            <assignToReference>varMaximumPayment</assignToReference>
            <field>SFFR_Max_Payment__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getPaymentGroupfromMethod</name>
        <label>getPaymentGroupfromMethod</label>
        <locationX>534</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkOpenPaymentGroupFound</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRTPaymentGroup_Bank</elementReference>
            </value>
        </filters>
        <filters>
            <field>SFFR_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <filters>
            <field>SFFR_External_Reference__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SFFR_Payment_Method__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Installment.cpm__Payment_Method__c</elementReference>
            </value>
        </filters>
        <object>SFFR_Payment_Group__c</object>
        <outputReference>varPaymentGroup</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>SFFR_External_Reference__c</queriedFields>
        <queriedFields>SFFR_Banked_Total__c</queriedFields>
        <queriedFields>SFFR_Number_Payment__c</queriedFields>
        <queriedFields>SFFR_Max_Payment__c</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>getRTPaymentGroup_Bank</name>
        <label>getRTPaymentGroup_Bank</label>
        <locationX>402</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkBankGroupProvided</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SFFR_Bank</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SFFR_Payment_Group__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varRTPaymentGroup_Bank</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>updPaymentGroup</name>
        <label>updPaymentGroup</label>
        <locationX>182</locationX>
        <locationY>1310</locationY>
        <inputReference>varPaymentGroup</inputReference>
    </recordUpdates>
    <start>
        <locationX>628</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>checkInstallment</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>Installment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>cpm__Installment__c</objectType>
    </variables>
    <variables>
        <name>varMaximumPayment</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varPaymentGroup</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>SFFR_Payment_Group__c</objectType>
    </variables>
    <variables>
        <name>varRTPaymentGroup_Bank</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
