force-app/main/default/flows/SFFR_Bank_Batch_Dispatcher.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>ifNullCreate</name>
        <label>ifNullCreate</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SFFR_getOpenBatch</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <elementReference>isNull</elementReference>
                </rightValue>
            </conditions>
            <label>isNull</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Bank batch dispatcher {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Bank batch dispatcher</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>SFFR_getOpenBatch</name>
        <label>getOpenPaymentBatch</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ifNullCreate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SFFR_Accounting_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0127a000002AJk7AAG</stringValue>
            </value>
        </filters>
        <object>SFFR___c</object>
        <outputReference>bankBatch</outputReference>
        <queriedFields>Id</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SFFR_getOpenBatch</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SFFR_Bank___c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>npe01__OppPayment__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>bankBatch</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SFFR___c</objectType>
    </variables>
    <variables>
        <name>countOpenBatches</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
