force-app/main/default/flows/SFFR_Process_Update_Payment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>computeBulkPG</name>
        <label>computeBulkPG</label>
        <locationX>248</locationX>
        <locationY>1430</locationY>
        <actionName>SFFR_BulkHelpers_ComplexAdd</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>checkOpenPaymentGroupFound</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <constants>
        <name>conMaximumItem</name>
        <dataType>Number</dataType>
    </constants>
    <decisions>
        <name>checkBankGroupProvided</name>
        <label>checkBankGroupProvided</label>
        <locationX>248</locationX>
        <locationY>1094</locationY>
        <defaultConnector>
            <targetReference>getPaymentGroupfromMethod</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NoBankGroupProvided</defaultConnectorLabel>
        <rules>
            <name>BankGroupProvided</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPayment.cpm__Installment__r.SFFR_Bank_Group__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getBankGroupfromExternalReference</targetReference>
            </connector>
            <label>BankGroupProvided</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkBypassAutomation</name>
        <label>checkBypassAutomation</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>checkBankGroupProvided</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>continueAutomation</defaultConnectorLabel>
        <rules>
            <name>BypassAutomation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varBypassAutomation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>BypassAutomation</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkDoWeHaveAllData</name>
        <label>checkDoWeHaveAllData?</label>
        <locationX>347</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>Stop</defaultConnectorLabel>
        <rules>
            <name>Continue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPayment.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varRTPayment_Payment</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varPayment.SFFR_Bank_Payment_Group__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getPaymentGroupSetting</targetReference>
            </connector>
            <label>Continue</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkOpenPaymentGroupFound</name>
        <label>checkOpenPaymentGroupFound</label>
        <locationX>248</locationX>
        <locationY>1550</locationY>
        <defaultConnectorLabel>NoPaymentGroupFound</defaultConnectorLabel>
        <rules>
            <name>PaymentGroupFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPaymentGroup</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>PaymentGroupFound</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkPaymentGroupSetting</name>
        <label>checkPaymentGroupSetting</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>getDefaultPaymentGroupSetting</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>notfoundPaymentGroupSetting</defaultConnectorLabel>
        <rules>
            <name>foundPaymentGroupSetting</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPaymentGroup</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>checkBypassAutomation</targetReference>
            </connector>
            <label>foundPaymentGroupSetting</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>UniqKey</name>
        <dataType>String</dataType>
        <expression>{!varPaymentGroup.SFFR_External_Reference__c} + &quot;__&quot; + {!varPaymentGroup.SFFR_Payment_Method__c}</expression>
    </formulas>
    <interviewLabel>SFFR Process Update Payment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SFFR Process Update Payment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getBankGroupfromExternalReference</name>
        <label>getBankGroupfromExternalReference</label>
        <locationX>116</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>computeBulkPG</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRTPaymentGroup_Bank</elementReference>
            </value>
        </filters>
        <filters>
            <field>SFFR_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <filters>
            <field>SFFR_External_Reference__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPayment.cpm__Installment__r.SFFR_Bank_Group__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SFFR_Payment_Method__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPayment.cpm__Installment__r.cpm__Payment_Method__c</elementReference>
            </value>
        </filters>
        <object>SFFR_Payment_Group__c</object>
        <outputReference>varPaymentGroup</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>SFFR_External_Reference__c</queriedFields>
        <queriedFields>SFFR_Banked_Total__c</queriedFields>
        <queriedFields>SFFR_Number_Payment__c</queriedFields>
        <queriedFields>SFFR_Max_Payment__c</queriedFields>
        <queriedFields>SFFR_Internal_Reference__c</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>getDefaultPaymentGroupSetting</name>
        <label>getDefaultPaymentGroupSetting</label>
        <locationX>138</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkBypassAutomation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Default</stringValue>
            </value>
        </filters>
        <object>SFFR_Payment_Group_Setting__mdt</object>
        <outputAssignments>
            <assignToReference>varBypassAutomation</assignToReference>
            <field>SFFR_Bypass__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varMaximumItem</assignToReference>
            <field>SFFR_Max_Payment__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getPaymentGroupfromMethod</name>
        <label>getPaymentGroupfromMethod</label>
        <locationX>380</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>computeBulkPG</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRTPaymentGroup_Bank</elementReference>
            </value>
        </filters>
        <filters>
            <field>SFFR_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <filters>
            <field>SFFR_External_Reference__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SFFR_Payment_Method__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPayment.cpm__Installment__r.cpm__Payment_Method__c</elementReference>
            </value>
        </filters>
        <object>SFFR_Payment_Group__c</object>
        <outputReference>varPaymentGroup</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>SFFR_External_Reference__c</queriedFields>
        <queriedFields>SFFR_Banked_Total__c</queriedFields>
        <queriedFields>SFFR_Number_Payment__c</queriedFields>
        <queriedFields>SFFR_Max_Payment__c</queriedFields>
        <queriedFields>SFFR_Internal_Reference__c</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>getPaymentGroupSetting</name>
        <label>getPaymentGroupSetting</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkPaymentGroupSetting</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPayment.cpm__Payment_Method__c</elementReference>
            </value>
        </filters>
        <object>SFFR_Payment_Group_Setting__mdt</object>
        <outputAssignments>
            <assignToReference>varBypassAutomation</assignToReference>
            <field>SFFR_Bypass__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varMaximumItem</assignToReference>
            <field>SFFR_Max_Payment__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getRTPayment_Payment</name>
        <label>getRTPayment_Payment</label>
        <locationX>347</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getRTPaymentGroup_Bank</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SFFR_Payment</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>cpm__Payment__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varRTPayment_Payment</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getRTPaymentGroup_Bank</name>
        <label>getRTPaymentGroup_Bank</label>
        <locationX>347</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkDoWeHaveAllData</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SFFR_Bank</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SFFR_Payment_Group__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varRTPaymentGroup_Bank</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>221</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getRTPayment_Payment</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>varBypassAutomation</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varMaximumItem</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <elementReference>conMaximumItem</elementReference>
        </value>
    </variables>
    <variables>
        <name>varPayerAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPayerContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPayment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>cpm__Payment__c</objectType>
    </variables>
    <variables>
        <name>varPaymentGroup</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SFFR_Payment_Group__c</objectType>
    </variables>
    <variables>
        <name>varRTPayment_Payment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRTPayment_Split</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRTPaymentGroup_Bank</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
