force-app/main/default/flows/SFFR_Process_Create_Payment_Async.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>setPaymentMaster</name>
        <label>setPaymentMaster</label>
        <locationX>242</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>currentOpportunity.SFFR_Payment_Split__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varPayment.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentOpportunity.SFFR_Payment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getMasterPayment.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateOpportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setPaymentNoMaster</name>
        <label>setPaymentNoMaster</label>
        <locationX>506</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>currentOpportunity.SFFR_Payment_Split__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varPayment.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentOpportunity.SFFR_Payment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varPayment.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateOpportunity</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>checkCustomPaymentReference</name>
        <label>checkCustomPaymentReference</label>
        <locationX>374</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>setPaymentNoMaster</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NoMasterPaymentNeeded</defaultConnectorLabel>
        <rules>
            <name>MasterNeeded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentInstallment.cpm__Custom_Payment_Reference__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getMasterPayment</targetReference>
            </connector>
            <label>MasterPaymentNeeded</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkDoWeHaveAllData</name>
        <label>checkDoWeHaveAllData?</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>checkCustomPaymentReference</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>Continue</name>
            <conditionLogic>1 OR 2 OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>currentInstallment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentOpportunity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varPayment.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>getRTPayment_Payment</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varPayment.SFFR_Master_Payment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Stop</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>SFFR Process Create Payment Async {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SFFR Process Create Payment Async</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>currentInstallment</name>
        <label>currentInstallment</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>currentOpportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPayment.cpm__Installment__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>cpm__Installment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>currentOpportunity</name>
        <label>currentOpportunity</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkDoWeHaveAllData</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentInstallment.npsp4hub__Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getMasterPayment</name>
        <label>getMasterPayment</label>
        <locationX>242</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>setPaymentMaster</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>cpm__Payment_Reference__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentInstallment.cpm__Custom_Payment_Reference__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRTPayment_Payment</elementReference>
            </value>
        </filters>
        <filters>
            <field>SFFR_Master_Payment__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>cpm__Payment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getRTPayment_Payment</name>
        <label>getRTPayment_Payment</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>currentInstallment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SFFR_Payment</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>cpm__Payment__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varRTPayment_Payment</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>updateOpportunity</name>
        <label>updateOpportunity</label>
        <locationX>374</locationX>
        <locationY>1094</locationY>
        <inputReference>currentOpportunity</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getRTPayment_Payment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varPayment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>cpm__Payment__c</objectType>
    </variables>
    <variables>
        <name>varRTPayment_Payment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRTPayment_Split</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
