force-app/main/default/flows/SFFR_Post_Payment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>addAmount</name>
        <label>addAmount</label>
        <locationX>490</locationX>
        <locationY>1944</locationY>
        <assignmentItems>
            <assignToReference>GetMasterPaymentAtThisKey.cpm__Amount__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopAmount.cpm__Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopAmount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>resetMasterPaymentAmount</name>
        <label>resetMasterPaymentAmount</label>
        <locationX>402</locationX>
        <locationY>1704</locationY>
        <assignmentItems>
            <assignToReference>GetMasterPaymentAtThisKey.cpm__Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.cpm__Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopAmount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetThisPayer_no</name>
        <label>SetThisPayer_no</label>
        <locationX>578</locationX>
        <locationY>1008</locationY>
        <assignmentItems>
            <assignToReference>thisPayer</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getInstallement.cpm__Contact__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ifThereIsAPaymentKey</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetThisPayer_yes</name>
        <label>SetThisPayer_yes</label>
        <locationX>314</locationX>
        <locationY>1008</locationY>
        <assignmentItems>
            <assignToReference>thisPayer</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getInstallement.SFFR_Payer_Contact__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ifThereIsAPaymentKey</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>DONT</name>
        <label>DONT</label>
        <locationX>776</locationX>
        <locationY>768</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>paymentRT</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>12</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ifPayerDifferentFromContact</targetReference>
            </connector>
            <label>DO</label>
        </rules>
    </decisions>
    <decisions>
        <name>ifNoMasterPayment</name>
        <label>ifNoMasterPayment</label>
        <locationX>226</locationX>
        <locationY>1464</locationY>
        <defaultConnector>
            <targetReference>getSplitedAmountAtThisKey</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>There Is One</defaultConnectorLabel>
        <rules>
            <name>No_master</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetMasterPaymentAtThisKey.cpm__Payment_Reference__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createMasterPayment</targetReference>
            </connector>
            <label>No master</label>
        </rules>
    </decisions>
    <decisions>
        <name>ifNoMasterPayment_2</name>
        <label>ifNoMasterPayment</label>
        <locationX>446</locationX>
        <locationY>3264</locationY>
        <defaultConnector>
            <targetReference>CurrentPaymentRecord_withMaster</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>There Is One</defaultConnectorLabel>
        <rules>
            <name>No_master_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetMasterPaymentAtThisKey.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateCurrentPaymentRecord</targetReference>
            </connector>
            <label>No master</label>
        </rules>
    </decisions>
    <decisions>
        <name>ifPayerDifferentFromContact</name>
        <label>ifPayerDifferentFromContact</label>
        <locationX>446</locationX>
        <locationY>888</locationY>
        <defaultConnector>
            <targetReference>SetThisPayer_no</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_ifPayerDifferentFromContact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getInstallement.SFFR_Payer_Contact__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetThisPayer_yes</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>ifPGroupNumberSet</name>
        <label>ifPGroupNumberSet</label>
        <locationX>446</locationX>
        <locationY>2472</locationY>
        <defaultConnector>
            <targetReference>getOpenLots</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_ifPGroupNumberSet</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getInstallement.SFFR_Bank_Group__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getOpenLotsAtPGroupNum</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>ifThereIsAnActiveLot</name>
        <label>ifThereIsAnActiveLot</label>
        <locationX>446</locationX>
        <locationY>2808</locationY>
        <defaultConnector>
            <targetReference>CreateBankBatch</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_ifThereIsAnActiveLot</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>bankBatch.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getOppAtInstall</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>ifThereIsAPaymentKey</name>
        <label>ifThereIsAPaymentKey</label>
        <locationX>446</locationX>
        <locationY>1224</locationY>
        <defaultConnector>
            <targetReference>ifPGroupNumberSet</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_ifThereIsAPayer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getInstallement.cpm__Custom_Payment_Reference__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetMasterPaymentAtThisKey</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>BankLotName</name>
        <dataType>String</dataType>
        <expression>&quot;Lot &quot;&amp;TEXT({!getInstallement.cpm__Payment_Method__c})&amp;&quot; du &quot;&amp;TEXT({!$Flow.CurrentDateTime})&amp;IF({!getInstallement.SFFR_Bank_Group__c} = &quot;&quot;, &quot;&quot;, &quot; ext. n°:&quot;&amp;{!getInstallement.SFFR_Bank_Group__c})</expression>
    </formulas>
    <interviewLabel>SFFR_Post_Payment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SFFR_Post_Payment</label>
    <loops>
        <name>loopAmount</name>
        <label>loopAmount</label>
        <locationX>402</locationX>
        <locationY>1824</locationY>
        <collectionReference>getSplitedAmountAtThisKey</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>addAmount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updateMasterAmount</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateBankBatch</name>
        <label>CreateBankBatch</label>
        <locationX>534</locationX>
        <locationY>2928</locationY>
        <assignRecordIdToReference>bankBatch.Id</assignRecordIdToReference>
        <connector>
            <targetReference>getOppAtInstall</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>BankLotName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>BankRT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFFR_External_Reference__c</field>
            <value>
                <elementReference>getInstallement.SFFR_Bank_Group__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFFR_Payment_Method__c</field>
            <value>
                <elementReference>getInstallement.cpm__Payment_Method__c</elementReference>
            </value>
        </inputAssignments>
        <object>SFFR_Payment_Group__c</object>
    </recordCreates>
    <recordCreates>
        <name>createMasterPayment</name>
        <label>createMasterPayment</label>
        <locationX>50</locationX>
        <locationY>1584</locationY>
        <assignRecordIdToReference>GetMasterPaymentAtThisKey.Id</assignRecordIdToReference>
        <connector>
            <targetReference>ifPGroupNumberSet</targetReference>
        </connector>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>paymentRT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cpm__Account__c</field>
            <value>
                <elementReference>$Record.cpm__Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cpm__Amount__c</field>
            <value>
                <elementReference>$Record.cpm__Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cpm__Collection_Date__c</field>
            <value>
                <elementReference>$Record.cpm__Collection_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cpm__Contact__c</field>
            <value>
                <elementReference>thisPayer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cpm__Description__c</field>
            <value>
                <stringValue>FLOW CREATED</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cpm__External_ID__c</field>
            <value>
                <elementReference>$Record.cpm__External_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cpm__IBAN__c</field>
            <value>
                <elementReference>$Record.cpm__IBAN__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cpm__Mandate__c</field>
            <value>
                <elementReference>$Record.cpm__Mandate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cpm__Originating_Campaign__c</field>
            <value>
                <elementReference>$Record.cpm__Originating_Campaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cpm__Payment_Method__c</field>
            <value>
                <elementReference>$Record.cpm__Payment_Method__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cpm__Payment_Processor__c</field>
            <value>
                <elementReference>$Record.cpm__Payment_Processor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cpm__Payment_Profile__c</field>
            <value>
                <elementReference>$Record.cpm__Payment_Profile__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cpm__Payment_Reference__c</field>
            <value>
                <elementReference>$Record.cpm__Payment_Reference__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cpm__Processor__c</field>
            <value>
                <elementReference>$Record.cpm__Processor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cpm__Reason_for_Mutation__c</field>
            <value>
                <elementReference>$Record.cpm__Reason_for_Mutation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cpm__Recurring_Payment__c</field>
            <value>
                <elementReference>$Record.cpm__Recurring_Payment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cpm__Reversal_Reason_Code__c</field>
            <value>
                <elementReference>$Record.cpm__Reversal_Reason_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cpm__Target__c</field>
            <value>
                <elementReference>$Record.cpm__Target__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cpm__Transaction_Sub_Element__c</field>
            <value>
                <elementReference>$Record.cpm__Transaction_Sub_Element__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cpm__Transaction__c</field>
            <value>
                <elementReference>$Record.cpm__Transaction__c</elementReference>
            </value>
        </inputAssignments>
        <object>cpm__Payment__c</object>
    </recordCreates>
    <recordLookups>
        <name>getInstallement</name>
        <label>getInstallement</label>
        <locationX>776</locationX>
        <locationY>648</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DONT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.cpm__Installment__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>cpm__Installment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetMasterPaymentAtThisKey</name>
        <label>GetMasterPaymentAtThisKey</label>
        <locationX>226</locationX>
        <locationY>1344</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ifNoMasterPayment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>cpm__Payment_Reference__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.cpm__Payment_Reference__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>paymentSplitRT</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>cpm__Payment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getOpenLots</name>
        <label>getOpenLots</label>
        <locationX>578</locationX>
        <locationY>2592</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ifThereIsAnActiveLot</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BankRT</elementReference>
            </value>
        </filters>
        <filters>
            <field>SFFR_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <filters>
            <field>SFFR_External_Reference__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SFFR_Payment_Method__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getInstallement.cpm__Payment_Method__c</elementReference>
            </value>
        </filters>
        <object>SFFR_Payment_Group__c</object>
        <outputReference>bankBatch</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>SFFR_External_Reference__c</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>getOpenLotsAtPGroupNum</name>
        <label>getOpenLotsAtPGroupNum</label>
        <locationX>314</locationX>
        <locationY>2592</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ifThereIsAnActiveLot</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BankRT</elementReference>
            </value>
        </filters>
        <filters>
            <field>SFFR_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <filters>
            <field>SFFR_External_Reference__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getInstallement.SFFR_Bank_Group__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SFFR_Payment_Method__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getInstallement.cpm__Payment_Method__c</elementReference>
            </value>
        </filters>
        <object>SFFR_Payment_Group__c</object>
        <outputReference>bankBatch</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>SFFR_External_Reference__c</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>getOppAtInstall</name>
        <label>getOppAtInstall</label>
        <locationX>446</locationX>
        <locationY>3144</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ifNoMasterPayment_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getInstallement.npsp4hub__Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getPaymentRT</name>
        <label>getPaymentRT</label>
        <locationX>776</locationX>
        <locationY>408</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getRTBank</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SFFR_Payment</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>paymentRT</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>getPaymentSplitRT</name>
        <label>getPaymentSplitRT</label>
        <locationX>776</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getPaymentRT</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SFFR_Split</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>paymentSplitRT</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>DeveloperName</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>getRTBank</name>
        <label>getRTBank</label>
        <locationX>776</locationX>
        <locationY>528</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getInstallement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SFFR_Bank</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>BankRT</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>getSplitedAmountAtThisKey</name>
        <label>getSplitedAmountAtThisKey</label>
        <locationX>402</locationX>
        <locationY>1584</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>resetMasterPaymentAmount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>cpm__Payment_Reference__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetMasterPaymentAtThisKey.cpm__Payment_Reference__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>paymentSplitRT</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>cpm__Payment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>CurrentPaymentRecord_withMaster</name>
        <label>CurrentPaymentRecord_withMaster</label>
        <locationX>578</locationX>
        <locationY>3384</locationY>
        <connector>
            <targetReference>updateMaster</targetReference>
        </connector>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>paymentSplitRT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cpm__Contact__c</field>
            <value>
                <elementReference>thisPayer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cpm__Payment_Method__c</field>
            <value>
                <elementReference>getInstallement.cpm__Payment_Method__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>fault</name>
        <label>fault</label>
        <locationX>842</locationX>
        <locationY>3744</locationY>
        <inputAssignments>
            <field>cpm__Description__c</field>
            <value>
                <stringValue>ERREUR</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateCurrentPaymentRecord</name>
        <label>updateCurrentPaymentRecord</label>
        <locationX>314</locationX>
        <locationY>3384</locationY>
        <connector>
            <targetReference>updateOpportunityRecord</targetReference>
        </connector>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>paymentRT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFFR_Bank_Payment_Group__c</field>
            <value>
                <elementReference>bankBatch.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cpm__Contact__c</field>
            <value>
                <elementReference>thisPayer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cpm__Payment_Method__c</field>
            <value>
                <elementReference>getInstallement.cpm__Payment_Method__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateMaster</name>
        <label>updateMaster</label>
        <locationX>578</locationX>
        <locationY>3504</locationY>
        <connector>
            <targetReference>updateOpportunityRecord_withMaster</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetMasterPaymentAtThisKey.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>paymentRT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFFR_Bank_Payment_Group__c</field>
            <value>
                <elementReference>bankBatch.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cpm__Payment_Method__c</field>
            <value>
                <elementReference>getInstallement.cpm__Payment_Method__c</elementReference>
            </value>
        </inputAssignments>
        <object>cpm__Payment__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateMasterAmount</name>
        <label>updatM</label>
        <locationX>402</locationX>
        <locationY>2160</locationY>
        <connector>
            <targetReference>ifPGroupNumberSet</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetMasterPaymentAtThisKey.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>cpm__Amount__c</field>
            <value>
                <elementReference>GetMasterPaymentAtThisKey.cpm__Amount__c</elementReference>
            </value>
        </inputAssignments>
        <object>cpm__Payment__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateOpportunityRecord</name>
        <label>updateOpportunityRecord</label>
        <locationX>314</locationX>
        <locationY>3504</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getOppAtInstall.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SFFR_Payment_Split__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFFR_Payment__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateOpportunityRecord_withMaster</name>
        <label>updateOpportunityRecord_withMaster</label>
        <locationX>578</locationX>
        <locationY>3624</locationY>
        <faultConnector>
            <targetReference>fault</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getOppAtInstall.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SFFR_Payment_Split__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFFR_Payment__c</field>
            <value>
                <elementReference>GetMasterPaymentAtThisKey.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>155</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>cpm__Installment__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>cpm__Payment__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>getPaymentSplitRT</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>bankBatch</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SFFR_Payment_Group__c</objectType>
    </variables>
    <variables>
        <name>BankRT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentMasterAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>paymentRT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>paymentSplitRT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>thisPayer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
