force-app/main/default/flows/SFFR_Fulfilment_Entry.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>addToTal</name>
        <label>addToTal</label>
        <locationX>402</locationX>
        <locationY>1670</locationY>
        <assignmentItems>
            <assignToReference>total_amount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>inboundSingle.cpm__Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RemainingAmount</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>inboundSingle.cpm__Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assigntocollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_to_inbound</name>
        <label>assign_to_inbound</label>
        <locationX>402</locationX>
        <locationY>1550</locationY>
        <assignmentItems>
            <assignToReference>inboundSingle.cpm__Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Inbound_benificiary.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inboundSingle.cpm__Report_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>France</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inboundSingle.cpm__Report_SubType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Générique</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inboundSingle.cpm__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inboundSingle.cpm__Origin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Salesforce</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inboundSingle.SFFR_Campaign_Key__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Campaign_external_key</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inboundSingle.SFFR_Bank_Payment_Group_Ext_Key__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inboundSingle.SFFR_Fullfilment_Payment_Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inboundSingle.cpm__Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Inbound_Split_Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inboundSingle.cpm__Payment_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Inbound_Payment_method</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inboundSingle.SFFR_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Inbound_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inboundSingle.cpm__Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Inbound_Payment_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inboundSingle.cpm__Report_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Inbound_Fullfilment_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inboundSingle.cpm__Debit_Credit_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Credit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inboundSingle.cpm__Campaign__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Inbound_Campaign_lookup.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inboundSingle.SFFR_Payer_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getMasterContact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inboundSingle.cpm__Account_Holder_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Inbound_benificiary.recordName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addToTal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assigntocollection</name>
        <label>assigntocollection</label>
        <locationX>402</locationX>
        <locationY>1790</locationY>
        <assignmentItems>
            <assignToReference>InboundReportCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>inboundSingle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Allocation_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setPaymentKey</name>
        <label>setPaymentKey</label>
        <locationX>490</locationX>
        <locationY>1334</locationY>
        <assignmentItems>
            <assignToReference>inboundSingle.SFFR_Payment_Key__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>paymentKey</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_to_inbound</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetRemainingAmount</name>
        <label>SetRemainingAmount</label>
        <locationX>226</locationX>
        <locationY>854</locationY>
        <assignmentItems>
            <assignToReference>RemainingAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Inbound_Amount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Allocation_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Total_InboundReportCollection</name>
        <label>Total_InboundReportCollection</label>
        <locationX>50</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>count_InboundReportCollection</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>InboundReportCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Summary</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Cash</name>
        <choiceText>Cash</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cash</stringValue>
        </value>
    </choices>
    <choices>
        <name>Check</name>
        <choiceText>Check</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Check</stringValue>
        </value>
    </choices>
    <choices>
        <name>Credit</name>
        <choiceText>Credit card</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CreditCard</stringValue>
        </value>
    </choices>
    <choices>
        <name>Credit_Card</name>
        <choiceText>Credit Card</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Credit Card</stringValue>
        </value>
    </choices>
    <choices>
        <name>CreditTransfer</name>
        <choiceText>Credit Transfer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CreditTransfer</stringValue>
        </value>
    </choices>
    <choices>
        <name>Donation</name>
        <choiceText>Donation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Donation</stringValue>
        </value>
    </choices>
    <choices>
        <name>Membership</name>
        <choiceText>Membership</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Membership</stringValue>
        </value>
    </choices>
    <choices>
        <name>SEPADirectDebit</name>
        <choiceText>SEPA Direct Debit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SEPADirectDebit</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Allocation_Loop</name>
        <label>Allocation Loop</label>
        <locationX>226</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Affectation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Allocate</defaultConnectorLabel>
        <rules>
            <name>All_is_Allocated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Inbound_Amount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>total_amount</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Total_InboundReportCollection</targetReference>
            </connector>
            <label>All is Allocated</label>
        </rules>
    </decisions>
    <decisions>
        <name>HasARecordId</name>
        <label>HasARecordId</label>
        <locationX>490</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>ContactSearch</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Contact</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getMasterContact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>HasAValidContactRecord</name>
        <label>HasAValidContactRecord</label>
        <locationX>490</locationX>
        <locationY>614</locationY>
        <defaultConnectorLabel>Error Not Expected</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getMasterContact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Payment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>hasToSplitPayment</name>
        <label>hasToSplitPayment</label>
        <locationX>402</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>setPaymentKey</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes_split</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Inbound_Amount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Inbound_Split_Amount</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_to_inbound</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <description>Simplified Gift Entry like Screen flow that allow to get a complex Fulfilment capture and created as few Inbound Report records</description>
    <environments>Default</environments>
    <formulas>
        <name>paymentKey</name>
        <dataType>String</dataType>
        <expression>{!getMasterContact.Id} &amp; &quot;-&quot; &amp; TEXT({!$Flow.InterviewStartTime})</expression>
    </formulas>
    <interviewLabel>SFFR {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SFFR Fulfilment Entry</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createInboundReports</name>
        <label>createInboundReports</label>
        <locationX>50</locationX>
        <locationY>1334</locationY>
        <inputReference>InboundReportCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>getMasterContact</name>
        <label>getMasterContact</label>
        <locationX>490</locationX>
        <locationY>494</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HasAValidContactRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Affectation</name>
        <label>Affectation</label>
        <locationX>402</locationX>
        <locationY>1094</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>hasToSplitPayment</targetReference>
        </connector>
        <fields>
            <name>Affectation_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Affectation_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Inbound_Split_Amount</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>RemainingAmount</elementReference>
                    </defaultValue>
                    <fieldText>Amount</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Value must be greater than zero and lower or equal than {!RemainingAmount}&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>( {!Inbound_Split_Amount} &gt; 0 ) &amp;&amp; ({!Inbound_Split_Amount}  &lt;= {!RemainingAmount})</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Inbound_Type</name>
                    <choiceReferences>Donation</choiceReferences>
                    <choiceReferences>Membership</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>Donation</defaultSelectedChoiceReference>
                    <fieldText>Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Inbound_benificiary</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>MasterRecordId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Beneficiare</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>getMasterContact.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Affectation_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>payment_details</name>
                    <fieldText>&lt;p&gt;Please allocate :&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 36px; color: rgb(35, 92, 6);&quot;&gt;{!RemainingAmount}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(35, 92, 6);&quot;&gt; {!total_amount} / {!Inbound_Amount}﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Affectation_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Affectation_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Payment_allocation</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>cpm__Inbound_Report__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Payment allocation</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>NO_SELECTION</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>InboundReportCollection</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;SFFR_Type__c&quot;,&quot;guid&quot;:&quot;column-61d7&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;Type&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Type&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;cpm__Amount__c&quot;,&quot;guid&quot;:&quot;column-8cc3&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;Amount&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Amount&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;cpm__Account_Holder_Name__c&quot;,&quot;guid&quot;:&quot;column-63c2&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Account Holder Name&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Set payment details</description>
        <name>Payment</name>
        <label>Payment</label>
        <locationX>226</locationX>
        <locationY>734</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SetRemainingAmount</targetReference>
        </connector>
        <fields>
            <name>text_1</name>
            <fieldText>&lt;p&gt;Please enter the payment for contact &lt;span style=&quot;color: rgb(75, 108, 240);&quot;&gt;{!getMasterContact.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Origin</name>
            <fieldText>Origin</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Origin_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Inbound_Campaign_lookup</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>cpm__Campaign__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Source campaign (name)</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>cpm__Inbound_Report__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>text_2</name>
                    <fieldText>&lt;p&gt;or use directly the campaign code (external key) :&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Campaign_external_key</name>
                    <dataType>String</dataType>
                    <fieldText>Campaign external key</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Origin_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Inbound_Fullfilment_batch_number</name>
                    <dataType>String</dataType>
                    <fieldText>Fullfilment batch number</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Details_payment</name>
            <fieldText>Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Details_payment_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Inbound_Payment_method</name>
                    <choiceReferences>Check</choiceReferences>
                    <choiceReferences>Credit</choiceReferences>
                    <choiceReferences>Cash</choiceReferences>
                    <choiceReferences>CreditTransfer</choiceReferences>
                    <choiceReferences>SEPADirectDebit</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Payment method</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Inbound_Amount</name>
                    <dataType>Currency</dataType>
                    <fieldText>Amount</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Value must be greater than zero.&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Inbound_Amount} &gt; 0</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Inbound_Fullfilment_date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>$Flow.CurrentDate</elementReference>
                    </defaultValue>
                    <fieldText>Fullfilment date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Inbound_Payment_date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>$Flow.CurrentDate</elementReference>
                    </defaultValue>
                    <fieldText>Payment date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Details_payment_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Inbound_Payment_number</name>
                    <dataType>String</dataType>
                    <fieldText>Payment number</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Inbound_Bank_batch_number</name>
                    <dataType>String</dataType>
                    <fieldText>Bank batch number</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Go to payment allocation</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Summary</name>
        <label>Summary</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>createInboundReports</targetReference>
        </connector>
        <fields>
            <name>verbosemessage</name>
            <fieldText>&lt;p&gt;You are about to create &lt;span style=&quot;font-size: 16px; color: rgb(35, 92, 6);&quot;&gt;{!count_InboundReportCollection} &lt;/span&gt;payment(s) for a total amount of &lt;span style=&quot;color: rgb(35, 92, 6); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;{!total_amount} &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Create Payment(s)</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>364</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>HasARecordId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>ContactSearch</name>
        <label>ContactSearch</label>
        <locationX>578</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>getMasterContact</targetReference>
        </connector>
        <flowName>SFFR_Contact_Search</flowName>
        <outputAssignments>
            <assignToReference>recordId</assignToReference>
            <name>contactId</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>count_InboundReportCollection</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>InboundReportCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>cpm__Inbound_Report__c</objectType>
    </variables>
    <variables>
        <name>inboundSingle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>cpm__Inbound_Report__c</objectType>
    </variables>
    <variables>
        <description>The contact that has been selected</description>
        <name>isSelectedContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>recordId</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RemainingAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>total_amount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
