force-app/main/default/flows/SFFR_Process_Create_Payment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>setMasterPayment</name>
        <label>setMasterPayment</label>
        <locationX>143</locationX>
        <locationY>1694</locationY>
        <assignmentItems>
            <assignToReference>getMasterPayment.cpm__Amount__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varPayment.cpm__Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>c</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setPayerAccount2Id</name>
        <label>setPayerAccount2Id</label>
        <locationX>605</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>varPayerAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentInstallment.SFFR_Payer_Contact__r.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>subProcessPaymentGroup</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setPayerAccountId</name>
        <label>setPayerAccountId</label>
        <locationX>341</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>varPayerAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentInstallment.SFFR_Payer_Contact__r.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>subProcessPaymentGroup</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setPayerContact2Id</name>
        <label>setPayerContact2Id</label>
        <locationX>605</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>varPayerContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentInstallment.cpm__Contact__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>setPayerAccount2Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setPayerContactId</name>
        <label>setPayerContactId</label>
        <locationX>341</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>varPayerContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentInstallment.SFFR_Payer_Contact__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>setPayerAccountId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setPayment</name>
        <label>setPayment</label>
        <locationX>473</locationX>
        <locationY>2246</locationY>
        <assignmentItems>
            <assignToReference>varPayment.cpm__Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varPayerAccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPayment.cpm__Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varPayerContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPayment.cpm__Payment_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentInstallment.cpm__Payment_Method__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateOpportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setPaymentMaster</name>
        <label>setPaymentMaster</label>
        <locationX>275</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>varPayment.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRTPayment_Split</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentOpportunity.SFFR_Payment_Split__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varPayment.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentOpportunity.SFFR_Payment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getMasterPayment.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>setPayment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setPaymentNoMaster</name>
        <label>setPaymentNoMaster</label>
        <locationX>671</locationX>
        <locationY>1454</locationY>
        <assignmentItems>
            <assignToReference>varPayment.SFFR_Bank_Payment_Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varPaymentGroup.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentOpportunity.SFFR_Payment_Split__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varPayment.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentOpportunity.SFFR_Payment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varPayment.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>setPayment</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>checkCustomPaymentReference</name>
        <label>checkCustomPaymentReference</label>
        <locationX>473</locationX>
        <locationY>1334</locationY>
        <defaultConnector>
            <targetReference>setPaymentNoMaster</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NoMasterPaymentNeeded</defaultConnectorLabel>
        <rules>
            <name>MasterNeeded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentInstallment.cpm__Custom_Payment_Reference__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getMasterPayment</targetReference>
            </connector>
            <label>MasterPaymentNeeded</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkDoWeHaveAllData</name>
        <label>checkDoWeHaveAllData?</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>checkPayerContact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>Continue</name>
            <conditionLogic>1 OR 2 OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>currentInstallment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentOpportunity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varPayment.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>getRTPayment_Payment</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varPayment.SFFR_Master_Payment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Stop</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkMasterPayment</name>
        <label>checkMasterPayment</label>
        <locationX>275</locationX>
        <locationY>1574</locationY>
        <defaultConnector>
            <targetReference>createMasterPayment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NoMasterPayment</defaultConnectorLabel>
        <rules>
            <name>MasterPaymentExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getMasterPayment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setMasterPayment</targetReference>
            </connector>
            <label>MasterPaymentExist</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkPayerContact</name>
        <label>checkPayerContact</label>
        <locationX>473</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>setPayerContact2Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>sameAsContact</defaultConnectorLabel>
        <rules>
            <name>FoundPayer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentInstallment.SFFR_Payer_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setPayerContactId</targetReference>
            </connector>
            <label>FoundPayer</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>BankLotName</name>
        <dataType>String</dataType>
        <expression>&quot;Lot &quot;&amp;TEXT({!currentInstallment.cpm__Payment_Method__c})&amp;&quot; du &quot;&amp;TEXT({!$Flow.CurrentDateTime})&amp;IF({!currentInstallment.SFFR_Bank_Group__c} = &quot;&quot;, &quot;&quot;, &quot; ext. n°:&quot;&amp;{!currentInstallment.SFFR_Bank_Group__c})</expression>
    </formulas>
    <interviewLabel>SFFR Process Create Payment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SFFR Process Create Payment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>createMasterPayment</name>
        <label>createMasterPayment</label>
        <locationX>407</locationX>
        <locationY>1694</locationY>
        <assignRecordIdToReference>getMasterPayment.Id</assignRecordIdToReference>
        <connector>
            <targetReference>setPaymentMaster</targetReference>
        </connector>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varRTPayment_Payment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFFR_Bank_Deposit_Date__c</field>
            <value>
                <elementReference>varPayment.SFFR_Bank_Deposit_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFFR_Bank_Payment_Group__c</field>
            <value>
                <elementReference>varPaymentGroup.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFFR_Master_Payment__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cpm__Account__c</field>
            <value>
                <elementReference>varPayerAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cpm__Amount__c</field>
            <value>
                <elementReference>varPayment.cpm__Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cpm__Collection_Date__c</field>
            <value>
                <elementReference>varPayment.cpm__Collection_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cpm__Contact__c</field>
            <value>
                <elementReference>varPayerContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cpm__Description__c</field>
            <value>
                <elementReference>varPayment.cpm__Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cpm__External_ID__c</field>
            <value>
                <elementReference>varPayment.cpm__External_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cpm__IBAN__c</field>
            <value>
                <elementReference>varPayment.cpm__IBAN__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cpm__Mandate__c</field>
            <value>
                <elementReference>varPayment.cpm__Mandate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cpm__Originating_Campaign__c</field>
            <value>
                <elementReference>varPayment.cpm__Originating_Campaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cpm__Payment_Method__c</field>
            <value>
                <elementReference>varPayment.cpm__Payment_Method__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cpm__Payment_Processor__c</field>
            <value>
                <elementReference>varPayment.cpm__Payment_Processor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cpm__Payment_Profile__c</field>
            <value>
                <elementReference>varPayment.cpm__Payment_Profile__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cpm__Payment_Reference__c</field>
            <value>
                <elementReference>varPayment.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cpm__Processor__c</field>
            <value>
                <elementReference>varPayment.cpm__Processor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cpm__Reason_for_Mutation__c</field>
            <value>
                <elementReference>varPayment.cpm__Reason_for_Mutation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cpm__Recurring_Payment__c</field>
            <value>
                <elementReference>varPayment.cpm__Recurring_Payment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cpm__Reversal_Reason_Code__c</field>
            <value>
                <elementReference>varPayment.cpm__Reversal_Reason_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cpm__Target__c</field>
            <value>
                <elementReference>varPayment.cpm__Target__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cpm__Transaction_Sub_Element__c</field>
            <value>
                <elementReference>varPayment.cpm__Transaction_Sub_Element__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cpm__Transaction__c</field>
            <value>
                <elementReference>varPayment.cpm__Transaction__c</elementReference>
            </value>
        </inputAssignments>
        <object>cpm__Payment__c</object>
    </recordCreates>
    <recordLookups>
        <name>currentInstallment</name>
        <label>currentInstallment</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>currentOpportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPayment.cpm__Installment__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>cpm__Installment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>currentOpportunity</name>
        <label>currentOpportunity</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkDoWeHaveAllData</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentInstallment.npsp4hub__Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getMasterPayment</name>
        <label>getMasterPayment</label>
        <locationX>275</locationX>
        <locationY>1454</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkMasterPayment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>cpm__Payment_Reference__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPayment.cpm__Payment_Reference__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRTPayment_Payment</elementReference>
            </value>
        </filters>
        <filters>
            <field>SFFR_Master_Payment__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>cpm__Payment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getRTPayment_Payment</name>
        <label>getRTPayment_Payment</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>currentInstallment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SFFR_Payment</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>cpm__Payment__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varRTPayment_Payment</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getRTPayment_Split</name>
        <label>getRTPayment_Split</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getRTPayment_Payment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SFFR_Split</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>cpm__Payment__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varRTPayment_Split</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>c</name>
        <label>updateMasterPayment</label>
        <locationX>143</locationX>
        <locationY>1814</locationY>
        <connector>
            <targetReference>setPaymentMaster</targetReference>
        </connector>
        <inputReference>getMasterPayment</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateOpportunity</name>
        <label>updateOpportunity</label>
        <locationX>473</locationX>
        <locationY>2366</locationY>
        <inputReference>currentOpportunity</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getRTPayment_Split</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <subflows>
        <name>subProcessPaymentGroup</name>
        <label>subProcessPaymentGroup</label>
        <locationX>473</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>checkCustomPaymentReference</targetReference>
        </connector>
        <flowName>SFFR_Process_Payment_Group</flowName>
        <inputAssignments>
            <name>Installment</name>
            <value>
                <elementReference>currentInstallment</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varPaymentGroup</assignToReference>
            <name>varPaymentGroup</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>varPayerAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPayerContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPayment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>cpm__Payment__c</objectType>
    </variables>
    <variables>
        <name>varPaymentGroup</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SFFR_Payment_Group__c</objectType>
    </variables>
    <variables>
        <name>varRTPayment_Payment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRTPayment_Split</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
