force-app/main/default/flows/SFFR_create_bank_batch.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>BankBatchExtKeyExist</name>
        <label>BankBatchExtKeyExist</label>
        <locationX>270</locationX>
        <locationY>648</locationY>
        <defaultConnector>
            <targetReference>GetActiveLotAtExtBankBatch</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>BankBatchExtKeyExist_no</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SFFR_bank_batch_key__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetOpenActiveLots</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>TestIfInternalBankIdExist</name>
        <label>TestIfInternalBankIdExist</label>
        <locationX>556</locationX>
        <locationY>528</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SFFR_Bank_Bunch__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BankBatchExtKeyExist</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>ThereIsAnActiveLot</name>
        <label>ThereIsAnActiveLot</label>
        <locationX>50</locationX>
        <locationY>888</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>CreateBankBatch</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ThereIsAnActiveLot_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOpenActiveLots.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateRecordAtActiveBatch</targetReference>
            </connector>
            <label>Yes attach payment to lot</label>
        </rules>
    </decisions>
    <decisions>
        <name>ThereIsAnActiveLotAtExtKey</name>
        <label>ThereIsAnActiveLotAtExtKey</label>
        <locationX>490</locationX>
        <locationY>888</locationY>
        <defaultConnector>
            <targetReference>CreateBankBatch</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_attach_ext_payment_to_lot</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOpenActiveLots.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateRecordAtActiveBatch</targetReference>
            </connector>
            <label>Yes attach payment to lot</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Formula_Now</name>
        <dataType>Date</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>SFFR_create_bank_batch {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SFFR_create_bank_batch</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateBankBatch</name>
        <label>CreateBankBatch</label>
        <locationX>578</locationX>
        <locationY>1008</locationY>
        <connector>
            <targetReference>UpdatePaymentWithLot</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Remise du {!Formula_Now}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFFR_External_Reference__c</field>
            <value>
                <elementReference>$Record.SFFR_bank_batch_key__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFFR_Status__c</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <object>SFFR_Bunch__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetActiveLotAtExtBankBatch</name>
        <label>GetActiveLotAtExtBankBatch</label>
        <locationX>490</locationX>
        <locationY>768</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ThereIsAnActiveLotAtExtKey</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SFFR_Payment_method__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.npe01__Payment_Method__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SFFR_External_Reference__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SFFR_bank_batch_key__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SFFR_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <object>SFFR_Bunch__c</object>
        <outputReference>GetOpenActiveLots</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>SFFR_External_Reference__c</queriedFields>
        <queriedFields>SFFR_Bank_Date__c</queriedFields>
        <queriedFields>SFFR_Accounting_Date__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>getBatchNumFromInstallement</name>
        <label>getBatchNumFromInstallement</label>
        <locationX>556</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>setBankBatchNumberInPayment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.npsp4hub__Collected_Through__r.Id</elementReference>
            </value>
        </filters>
        <object>cpm__Installment__c</object>
        <outputAssignments>
            <assignToReference>ExternalBankBatch</assignToReference>
            <field>SFFR_Bank_batch__c</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>GetOpenActiveLots</name>
        <label>GetOpenActiveLots</label>
        <locationX>50</locationX>
        <locationY>768</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ThereIsAnActiveLot</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SFFR_Payment_method__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.npe01__Payment_Method__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SFFR_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SFFR_Bunch__c</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>setBankBatchNumberInPayment</name>
        <label>setBankBatchNumberInPayment</label>
        <locationX>556</locationX>
        <locationY>408</locationY>
        <connector>
            <targetReference>TestIfInternalBankIdExist</targetReference>
        </connector>
        <inputAssignments>
            <field>SFFR_bank_batch_key__c</field>
            <value>
                <elementReference>ExternalBankBatch</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdatePaymentWithLot</name>
        <label>UpdatePaymentWithLot</label>
        <locationX>578</locationX>
        <locationY>1128</locationY>
        <inputAssignments>
            <field>SFFR_Bank_Bunch__c</field>
            <value>
                <elementReference>CreateBankBatch</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateRecordAtActiveBatch</name>
        <label>UpdateRecordAtActiveBatch</label>
        <locationX>270</locationX>
        <locationY>1560</locationY>
        <inputAssignments>
            <field>SFFR_Bank_Bunch__c</field>
            <value>
                <elementReference>GetOpenActiveLots.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>705</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getBatchNumFromInstallement</targetReference>
        </connector>
        <object>npe01__OppPayment__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>ExternalBankBatch</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>thisPayment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>npe01__OppPayment__c</objectType>
    </variables>
</Flow>
