force-app/main/default/flows/SFFR_Process_Sub_AGP_External_Grouping.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>assign_Counts</name>
        <label>assign Counts</label>
        <locationX>264</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>varPGNumberPayment</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPGBankedTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>count_Payments.cpm__Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>count_Payments.SFFR_Bank_Payment_Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varPGId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPayments</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>count_Payments</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>count_Payments</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>LimitList</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>LimitList</label>
        <locationX>176</locationX>
        <locationY>650</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>get_Payment</collectionReference>
        <connector>
            <targetReference>count_Payments</targetReference>
        </connector>
        <limit>500</limit>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>cpm__Collection_Date__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>check_PaymentGroup_Exit</name>
        <label>check PaymentGroup Exit</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>create_PaymentGroup</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No PaymentGroup</defaultConnectorLabel>
        <rules>
            <name>PaymentGroup_Exit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPGId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Payment</targetReference>
            </connector>
            <label>PaymentGroup Exit</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>SFFR Process - Sub - AGP - External Grouping {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SFFR Process - Sub - AGP - External Grouping</label>
    <loops>
        <name>count_Payments</name>
        <label>count Payments</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <collectionReference>get_Payment</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_Counts</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_Payments</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_PaymentGroup</name>
        <label>create PaymentGroup</label>
        <locationX>264</locationX>
        <locationY>350</locationY>
        <assignRecordIdToReference>varPGId</assignRecordIdToReference>
        <connector>
            <targetReference>get_Payment</targetReference>
        </connector>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varRTPaymentGroup_Bank</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFFR_Banked_Total__c</field>
            <value>
                <elementReference>varPGBankedTotal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFFR_External_Reference__c</field>
            <value>
                <elementReference>varBankGroup</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFFR_Max_Payment__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFFR_Number_Payment__c</field>
            <value>
                <elementReference>varPGNumberPayment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFFR_Status__c</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <object>SFFR_Payment_Group__c</object>
    </recordCreates>
    <recordLookups>
        <name>get_Payment</name>
        <label>get Payment</label>
        <locationX>176</locationX>
        <locationY>542</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LimitList</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRTPayment_Payment</elementReference>
            </value>
        </filters>
        <filters>
            <field>SFFR_Bank_Payment_Group__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SFFR_Bank_Payment_Group_Automation__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SFFR_Bank_Group__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varBankGroup</elementReference>
            </value>
        </filters>
        <filters>
            <field>SFFR_Bank_Group_Automated__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>cpm__Payment__c</object>
        <sortField>cpm__Collection_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>lookup_Bank_Payment_Group</name>
        <label>lookup Bank Payment Group</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_PaymentGroup_Exit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRTPaymentGroup_Bank</elementReference>
            </value>
        </filters>
        <filters>
            <field>SFFR_External_Reference__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varBankGroup</elementReference>
            </value>
        </filters>
        <object>SFFR_Payment_Group__c</object>
        <outputAssignments>
            <assignToReference>varPGId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varPGBankedTotal</assignToReference>
            <field>SFFR_Banked_Total__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varPGNumberPayment</assignToReference>
            <field>SFFR_Number_Payment__c</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>update_PaymentGroup</name>
        <label>update PaymentGroup</label>
        <locationX>176</locationX>
        <locationY>1166</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPGId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SFFR_Banked_Total__c</field>
            <value>
                <elementReference>varPGBankedTotal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFFR_Number_Payment__c</field>
            <value>
                <elementReference>varPGNumberPayment</elementReference>
            </value>
        </inputAssignments>
        <object>SFFR_Payment_Group__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_Payments</name>
        <label>update Payments</label>
        <locationX>176</locationX>
        <locationY>1058</locationY>
        <connector>
            <targetReference>update_PaymentGroup</targetReference>
        </connector>
        <inputReference>varPayments</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>lookup_Bank_Payment_Group</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varBankGroup</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPayments</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>cpm__Payment__c</objectType>
    </variables>
    <variables>
        <name>varPGBankedTotal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varPGId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPGNumberPayment</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varRTPayment_Payment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRTPaymentGroup_Bank</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
