force-app/main/default/flows/SFFR_Post_Payment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>ifPGroupNumberSet</name>
        <label>ifPGroupNumberSet</label>
        <locationX>374</locationX>
        <locationY>528</locationY>
        <defaultConnector>
            <targetReference>getOpenLots</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_ifPGroupNumberSet</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getInstallement.SFFR_Bank_Group__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getOpenLotsAtPGroupNum</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>ifThereIsAnActiveLot</name>
        <label>ifThereIsAnActiveLot</label>
        <locationX>374</locationX>
        <locationY>864</locationY>
        <defaultConnector>
            <targetReference>CreateBankBatch</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_ifThereIsAnActiveLot</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>bankBatch.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>SFFR_Post_Payment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SFFR_Post_Payment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateBankBatch</name>
        <label>CreateBankBatch</label>
        <locationX>462</locationX>
        <locationY>984</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>getInstallement.SFFR_Bank_Group__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFFR_External_Reference__c</field>
            <value>
                <elementReference>getInstallement.SFFR_Bank_Group__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFFR_Payment_method__c</field>
            <value>
                <elementReference>getInstallement.cpm__Payment_Method__c</elementReference>
            </value>
        </inputAssignments>
        <object>SFFR_Payment_Group__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>getInstallement</name>
        <label>getInstallement</label>
        <locationX>374</locationX>
        <locationY>408</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ifPGroupNumberSet</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.cpm__Installment__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>cpm__Installment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getOpenLots</name>
        <label>getOpenLots</label>
        <locationX>506</locationX>
        <locationY>648</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ifThereIsAnActiveLot</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BankRT</elementReference>
            </value>
        </filters>
        <filters>
            <field>SFFR_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <filters>
            <field>SFFR_External_Reference__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SFFR_Payment_method__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getInstallement.cpm__Payment_Method__c</elementReference>
            </value>
        </filters>
        <object>SFFR_Payment_Group__c</object>
        <outputReference>bankBatch</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>SFFR_External_Reference__c</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>getOpenLotsAtPGroupNum</name>
        <label>getOpenLotsAtPGroupNum</label>
        <locationX>242</locationX>
        <locationY>648</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ifThereIsAnActiveLot</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BankRT</elementReference>
            </value>
        </filters>
        <filters>
            <field>SFFR_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <filters>
            <field>SFFR_External_Reference__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getInstallement.SFFR_Bank_Group__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SFFR_Payment_method__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getInstallement.cpm__Payment_Method__c</elementReference>
            </value>
        </filters>
        <object>SFFR_Payment_Group__c</object>
        <outputReference>bankBatch</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>SFFR_External_Reference__c</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>getRT</name>
        <label>getRT</label>
        <locationX>374</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getInstallement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bank</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>BankRT</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <object>cpm__Payment__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>getRT</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>bankBatch</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SFFR_Payment_Group__c</objectType>
    </variables>
    <variables>
        <name>BankRT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
