force-app/main/default/flows/SFFR_Contact_Lookup.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>OpenContact</name>
        <label>OpenContact</label>
        <locationX>758</locationX>
        <locationY>486</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>sObject</name>
            <value>
                <stringValue>&quot;Contact&quot;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>GetContacts.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Contact_Found</name>
        <label>Contact Found?</label>
        <locationX>749</locationX>
        <locationY>275</locationY>
        <defaultConnector>
            <targetReference>Contact_Lookup_Result_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NoFound</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetContacts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OpenContact</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <description>Search a contact by ContactID - return the first contact that have a Contact Id ending by the lookup string.</description>
    <environments>Default</environments>
    <interviewLabel>Contact Lookup {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact Lookup</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetContacts</name>
        <label>GetContacts</label>
        <locationX>470</locationX>
        <locationY>273</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SFFR_ContactID__c</field>
            <operator>EndsWith</operator>
            <value>
                <elementReference>Enter_a_ContactID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Contact_Lookup_Result_Screen</name>
        <label>Contact Lookup Result</label>
        <locationX>974</locationX>
        <locationY>272</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Try Again</backButtonLabel>
        <fields>
            <name>NotFound</name>
            <fieldText>&lt;p&gt;Contact not found&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Contact_Lookup_Screen</name>
        <label>Contact Lookup</label>
        <locationX>239</locationX>
        <locationY>273</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GetContacts</targetReference>
        </connector>
        <fields>
            <name>Enter_a_ContactID</name>
            <dataType>String</dataType>
            <fieldText>Enter a ContactID</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Lookup</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>113</locationX>
        <locationY>60</locationY>
        <connector>
            <targetReference>Contact_Lookup_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
