force-app/main/default/flows/SFFR_Payment_CreateTrigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>SFFR_Payment_CreateTrigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SFFR Payment CreateTrigger</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>subProcessCreatePaymentSync</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SFFR_Master_Payment__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>cpm__Payment__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>subProcessCreatePaymentASync</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <subflows>
        <name>subProcessCreatePaymentASync</name>
        <label>subProcessCreatePaymentASync</label>
        <locationX>314</locationX>
        <locationY>288</locationY>
        <flowName>SFFR_Process_Create_Payment_Async</flowName>
        <inputAssignments>
            <name>varPayment</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>subProcessCreatePaymentSync</name>
        <label>subProcessCreatePaymentSync</label>
        <locationX>50</locationX>
        <locationY>288</locationY>
        <flowName>SFFR_Process_Create_Payment_Sync</flowName>
        <inputAssignments>
            <name>varPayment</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
</Flow>
